@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
/*
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #666;
}

body {
    width: 1425px;
    display: grid;
    grid-template-rows: 50px 510px 1300px 370px 730px 530px;
}

/* header */
header {
    padding: 0 20px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    color: #ffffff;
}

.menu > a:hover {
    color: #ffffff;
}

/* mainV */
#mainV {
    position: relative;
}

#mainV > .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mainV > .text > h1 {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 300;
    color: #ffffff;
}

#mainV > .text > p {
    font-size: 1.5rem;;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.842);
}

#mainV > .text > p > span {
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.842);
}

#mainV > video {
    width: 100%;
    height: 510px;
    object-fit: fill;
}

/* contents */
#contents {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(246, 246, 246, 0.932), rgba(246, 246, 246, 0.932)), url(../images/bg.jpg);
}

.wrapper {
    margin: 0 auto;
    
    width: 1100px;
}

.wrapper > .text {
    text-align: center;
}

.wrapper > .text > h2 {
    margin-bottom: 20px;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.3;
}

.wrapper > .text > p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.boxes {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 400px 400px;
    gap: 40px;
}

.content {
    background-color: #fff;
    text-align: center;
}

.top {
    margin: 70px 44px 20px 44px;
}

.top  > h3 {
    margin-top: 30px;
    font-weight: 400;
}

.content > p {
    margin: 0 44px;
    line-height: 25px;
}

.top > a > i {
    font-size: 80px;
    color: #ce1b28;
}

/* CURABITUR */

#CURABITUR {
    position: relative;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../images/cta01.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#CURABITUR > .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    text-align: center;
}

#CURABITUR > .text > h2 {
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    font-size: 3em;
    line-height: 1.5;
    color: #ffffff;
}

#CURABITUR > .text > p {
    font-weight: 200;
    line-height: 1.5;
    color: #ffffff;
}

/* people */
#people {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(246, 246, 246, 0.932), rgba(246, 246, 246, 0.932)), url(/images/bg.jpg);
}

#people > .text {
    margin-top: 80px;
    width: 800px;
    text-align: center;
}

#people > .text > h2 {
   font-weight: 400;
   font-size: 2em;
}

#people > .text > p {
    margin-top: 30px;
}

#people > .boxes > .content {
    padding: 100px 40px 0 40px;
}

.bottom {
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.bottom > p {
    font-size: 0.9em;
}

.bottom > p > strong {
    color: #ce1b28;
}

.img > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* footer */
footer {
    position: relative;
    display: grid;
    grid-template-rows: 4.5fr 2fr;
    background-color: #111111;
}

.infor {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 500px 275px 210px;
    gap: 50px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

nav > h3 {
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 1.4em;
    color: #fff;
}

nav > p {
    font-weight: 300;
    line-height: 1.5;
    color: rgb(124, 124, 124);
}

.list > li {
    padding: 10px 0 11px 0;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.list > li > a {
    font-weight: 300;
}

.list > li > a:hover {
    color: #ce1b28;
}

#list i {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-color: #111111;
    color: #ffffff;
}

.copyright {
    margin-top: 15px;
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;
}